{%- from "prometheus/map.jinja" import prometheus with context %}
{%- set retetionTimeFlagName='storage.tsdb.retention' %}

{%- if salt['pkg.version_cmp'](prometheus.version,'2.9.0') >= 0 %}
  {%- set retetionTimeFlagName=retetionTimeFlagName ~ '.time' %}
{%- endif %}
[Unit]
Description=Prometheus Monitoring
Requires=network-online.target
After=network-online.target

[Service]
Restart=on-failure
StandardOutput=journal
StandardError=journal
User={{ prometheus.service_user }}
Group={{ prometheus.service_group }}
ExecStart={{ prometheus.bin_dir }}/prometheus --log.level={{ prometheus.log_level }} --config.file={{ prometheus.config_dir }}/prometheus.yml --storage.tsdb.path={{ prometheus.data_dir }} --{{ retetionTimeFlagName }}={{ prometheus.data_retention }}
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
